@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #f7f6f0;
  --foreground: #222222;
  --accent: #5d98eb;
  --muted: #5a5a58;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --color-fill: #000000;
  --color-text-base: #f0efe4;
  /* --color-text-base: #909090; */
  --color-accent: #6a8ec2;
  --color-card: #f0efe4;
  --color-card-muted: #85857f;
  --color-border: #3a3a3a;

  --background: var(--color-fill);
  --foreground: var(--color-text-base);
  --accent: var(--color-accent);
  --muted: var(--color-card-muted);
  --border: var(--color-border);
}

@theme inline {
  --font-app: var(--font-plus-jakarta-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }

  html {
    @apply overflow-y-scroll scroll-smooth;
  }

  body {
    @apply flex min-h-svh flex-col bg-background font-app text-foreground selection:bg-accent/75 selection:text-background;
  }

  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply mx-auto w-full max-w-app px-4;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}